

body{
  width:100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: chartreuse;

}

.registro{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #e3eaec;
  border-radius: 1rem;
  margin-top: 2rem;
  
  
}


.social{
  display: flex;
  flex-direction: row;
  width: 90%;

  height:3rem;
  justify-content: space-around;
  padding-top:0;
}
.socialicon{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:50%;
  border: solid 1px black;
  width: 2rem;
  height:2rem;
  margin: 2px;
}

p{
  font-size: small;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
Button{
  width: 96%;
  color: #e3eaec;
  background-color: steelblue;
  border-radius:5px;

}

.incampos{
  display: flex;
  justify-content: center;

  
}
.campos{
  display: flex;
  justify-content: center;
  margin: 8px;
  border-radius:5px;

}

